# ── TypeDB Cloud ─────────────────────────────────────────────────────────────
# Endereço completo do cluster (com https:// e porta)
TYPEDB_ADDRESS=https://rp78xj-0.cluster.typedb.com:80
TYPEDB_DATABASE=unigran_db
TYPEDB_USERNAME=admin
TYPEDB_PASSWORD=sua_senha_aqui

# ── JWT ───────────────────────────────────────────────────────────────────────
JWT_SECRET=Mmorhsi54qrPGVAnxmHegFcB-Ezoen4ZNT-TJRwDyys
JWT_EXPIRES_IN=7d

# ── Server ────────────────────────────────────────────────────────────────────
PORT=3001
NODE_ENV=development

# ── Frontend URL (CORS) ───────────────────────────────────────────────────────
#CLIENT_URL=https://unigran.vercel.app
CLIENT_URL=http://localhost:5173
